*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
}
/* ------style of header started------- */
header{
    height: 677px;
    width: 100%;
    background-color: #2D25A0;
    display: flex;
    flex-direction: column;
}
nav{
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 10%;
    right: 10%;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-flex;
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    padding-right: 15px;
    font-weight: 500;
    color: white;
}
.login-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#E02C6D;
    padding: 10px 24px;
    border: none;
}
.login-button:hover{
    background-color: teal;
}
.login-button a{
    text-decoration: none;
    position: static;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.login-button img{
    width: 24px;
    height: 24px;
    margin: 0 8px;
}
.banner{
    display: flex;
    position: absolute;
    top: 150px;
    left: 10%;
}
.banner-pic{
    padding-left: 25px;
}
h1{
    font-size: 64px;
    font-weight: 700;
    color: #fff;
}
/* ------style of header ended------- */


/* common styles for button */
button{
    background-color:#E02C6D;
    padding: 10px 24px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.fa-arrow-right{
    width: 24px;
    color: #fff;
}
button:hover{
    background-color: teal;
    transition: 0.5s;
}
button a{
    position: static;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    margin-right: 8px;
}

/* style of key-players started */
.key-players{
    margin-top: 3%;
}
.players{
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    grid-row-gap: 50px;
}
.player{
    width: 330px;
    height: 474px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 20px grey;
    border-radius: 10px;
}
.player:hover{
    background-color: rgba(126, 16, 216, 0.856);
    color: #fff;
    cursor: pointer;
}
.player-pic{
    padding: 15px;
}
.player-pic img{
    width: 300px;
    height: 256px;
}
.player-info{
    height: 154px;
    width: 300px;
}
.player-info h2{
    margin-top: 10px;
}
/* style of key-players section ended */

/* style of match-highlight area started */
.match-highlights-area{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.about-highlight{
    width: 40%;
    margin-left: 6%;
}
.about-highlight h2{
    font-size: 48px;
}
.highlight-pic{
    width:40%;
    margin-top: 3%;
    margin-left: 5%;
}
.highlight-pic img{
    width:90%;
}
/* style of match-highlight area ended */

/* style of footer started */
.logo{
    width: 100%;
    margin: auto;
    text-align: center;
}
.logo img{
    width: 400px;
}
.social-links{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.social-links a{
    padding: 10px;
}
.social-links img{
    width: 35px;
}
.copyright-issue{
    text-align: center;
}
/* style of footer ended */

/* responsive style */
@media only screen and (max-width: 600px) {
    nav{
        display: none;
    }
    .banner{
        flex-direction: column;
    }
    .banner-pic{
        width:100%;
    }
    .key-players{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }
}